{% extends 'base2.html' %}

{% block content %}

{% comment %} <div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
	</div>
</div> {% endcomment %}

<body>
        <mobile>
            <div class='mobile-container'>
                <div class="container">
                    <div class="row">
                        <p class="m-auto">Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
                    </div>
                </div>
            </div>
        </mobile>
    </body>
{% endblock %}