{% extends 'base2.html' %}

{% block content %}
<body>
        <mobile>
            <div class='mobile-container'>
                <div class="container">
                    <div class="row">
                        <p class="col-12 text-center one">We've emailed you instructions for setting your password, if an account exist with the email you entered. You should receive them shortly.
                        </p>
                        <p class=" col-12 text-center two">If you don't an email, please make sure you've entered the address you registered with, and check your spam folder</p>
                        <p class="col-12 text-center gohome"><a href="{% url 'home' %}">RETURN TO HOME PAGE</a></p>
                    </div>
                </div>
            </div>
        </mobile>
    </body>

{% comment %} <div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.
		  </p>
		  <p class="m-auto p-2">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Return to home page</a></p>
	</div>
</div> {% endcomment %}

{% endblock %}