{% extends 'base2.html' %}

{% block content %}
{% load static %}
{% comment %} <style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .h3{
    text-align: center;
  }
</style>  {% endcomment %}
<style>
        body {
            padding: 1em;
            background: white;
            font-family: 'Mitr';
        }
        
        mobile {
            display: flex;
            flex-flow: column nowrap;
            background: white;
            margin: auto;
            width: 414px;
            height: 735px;
            box-shadow: 0px 12px 24px #0004;
        }
        
        .mobile-container {
            height: 100%;
            overflow: auto;
        }
        
        .back {
            margin-top: 20px;
            width: 25px;
        }
        
        .cr-changepassword {
            margin: 20 0 30 0px;
            font-size: 30px;
            text-align: center;
        }
        
        label {
            color: #12D3CF;
        }
        
        input {
            color: #707070;
        }
        
        .user-img {
            width: 37px;
            position: absolute;
            margin-left: 15px;
            margin-top: -39px;
        }
        
        #Inputoldpassword,
        #Inputnewpassword,
        #Inputconnewpassword {
            width: 310px;
            margin-left: 20px;
            border-radius: 1rem;
            position: relative;
        }
        
        #btn-cr-changepassword {
            font-weight: 400;
            margin: auto;
            display: block;
            width: 350px;
            height: 40px;
            border-radius: 20px;
            color: white;
            font-size: 20px;
            text-align: center;
            background-image: linear-gradient(to right, #12D3CF, #67EACA)
        }
    </style>

    <body>
        <mobile>
            <div class='mobile-container'>
                <div>
                    <form method="POST" class="form-signin">
                    {% csrf_token %}
                        <div class="container">
                            <a onclick="goBack()"><img src="{% static 'back70.png' %}" class="back"></a>
                            <h1 class="cr-changepassword">CHANGE PASSWORD</h1>
                            <div class="row">
                                <div class="col-12 ml-3 mt-3">
                                    <div class="form-group">
                                        <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
                                        <img class="user-img" src="{% static 'password.png' %}" alt=""></div>
                                </div>
                                <div class="col-12 ml-3 mt-3">
                                    <div class="form-group">
                                        <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
                                        <img class="user-img" src="{% static 'password.png' %}" alt=""></div>
                                </div>
                                <div class="col-12 ml-3 mt-3">
                                    <div class="form-group">
                                        <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
                                        <img class="user-img" src="{% static 'password.png' %}" alt=""></div>
                                </div>
                                {% for field in form %}
                                  {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                  {% endfor %}
                                {% endfor %}
                                <button type="submit" class="btn mt-3" id="btn-cr-changepassword">SUBMIT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mobile>
    </body>

 {% comment %} <form method="POST" class="form-signin">{% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
    <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
    <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
    <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">

    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>  
</form>  {% endcomment %}



{% endblock %}