{% extends "base2.html" %}
{% block content %}
{% load static %}
    <body>
        <mobile>
            <div class='mobile-container'>
                <div id="create-profile"></div>
                <form method="POST" action="{% url 'addother' %}" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="container">
                        <a onclick="goBack()"><img src="{% static 'back70.png' %}" class="back"></a>
                        <h1 class="cr-profile">CREATE OTHER</h1>
                        <div class="row row-cols-2 firstname">
                            <div class="col">
                                <div class="form-group">
                                    <label for="Inputfirstname">Firstname</label>
                                    <input type="text" class="form-control" id="Inputfirstname" name="first_name" required>
                                    <img class="user-img" src="{% static 'user.png' %}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="Inputlastname">Lastname</label>
                                    <input type="text" class="form-control" id="Inputlastname" name="last_name">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="Inputage">Age</label>
                                    <input type="text" class="form-control" id="Inputage" name="age" required>
                                    <img class="user1-img" src="{% static 'user1.png' %}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="Inputsex">Sex</label>
                                    <select id="Inputsex" class="form-control" name="sex" required>
                                      <option value="Male">Male</option>
                                      <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="Inputdisease">Congenital disease</label>
                                    <input type="text" id="Inputdisease" class="form-control" name="disease" >
                                    <img class="drugs-img" src="{% static 'drugs.png' %}">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="Inputallergy">Food allergy / Drug allergy</label>
                                    <input type="text" id="Inputallergy" class="form-control" name="allergy" >
                                    <img class="fork-img" src="{% static 'fork.png' %}">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="Inputimage">Choose image</label>
                                    <input type="file" id="Inputimage" class="form-control-file" name="image_url" required>
                                </div>
                            </div>
                            <a href="profile.html"><button  type="submit" class="btn" id="btn-cr-profile">SUBMIT</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </mobile>
    </body>
{% endblock %}