<html>

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Mitr:300,400&display=swap&subset=thai" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
    	body {
    padding: 0em;
    background: #666;
    font-family: 'Mitr', sans-serif;
}

mobile {
    display: flex;
    flex-flow: column nowrap;
    background: white;
    margin: auto;
    width: 414px;
    height: 400px;
    box-shadow: 0px 12px 24px #0004;
}

.mobile-container {
    height: 100%;
    width: 100%;
    overflow: auto;
}
    </style>

    <body>
        <mobile>
            <div class='mobile-container'>
            	<div class="container-fluid">
            		<div class="row">
            			<div class="col-sm-12" style="height: 60px;width: 414px;">
                            <img src="../Memdicine/img/back70.png" style="width:25px;height:25px;margin-top: 15px;margin-left: 10px;">
                        </div>
                        <div class="col-sm-12" style="width: 414px;text-align: center;">
                            <label style="color:black;font-size: 30px;text-align: center;">FORGOT PASSWORD</label>
                            <br>
                            <label style="color: #706F6F;font-size: 15px;">Please enter your e-mail to find your account</label>
            			</div>
                        <div class="col-sm-12" ><br>
                            <input type="text" style="border-radius: 40px;border: 1px solid #707070;height: 45px;width:90%;text-align: left;padding-left: 60px;margin-left: 20px;font-size: 13px;" placeholder="Enter your E-mail">
                            <img src="../Memdicine/img/forgot.png" style="width: 45px;height: 45px;margin-top: -2px;margin-left: -352px;">
                        </div>
            		</div>
            			<div class="col-sm-12" style="text-align: center;"><br><br>
            				<button type="submit" form="form1" value="Submit" style="width: 100%;height: 50px;margin-top: -10px;border-radius: 40px;border:0.2px solid #070707;color:white;background-color:#12D3CF;font-size: 18px;font-family: 'Mitr', sans-serif;">Submit</button>
                            <br>
                            <label style="color: #706F6F;font-size: 15px;text-align: center;margin-top: 5px;">Send password reset your E-mail</label>

            			</div>
            		</div>
                </div>
        </mobile>
    </body>
</head>

</html>