body {
    padding: 1em;
    background: #666;
}

mobile {
    display: flex;
    flex-flow: column nowrap;
    background: white;
    margin: auto;
    width: 414px;
    height: 735px;
    box-shadow: 0px 12px 24px #0004;
    font-family: 'Mitr', sans-serif;
}

.mobile-container {
    height: 100%;
    overflow: auto;
}

#nav-bar {
    background-image: linear-gradient(to bottom, #12D3CF, #67EACA);
    height: 60px;
}

.back-main {
    width: 25px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 20px;
}

.menu-main {
    width: 25px;
    display: inline-block;
    margin-left: 315px;
    margin-top: 20px;
}


/* createprofile */

.back {
    margin-top: 20px;
    width: 25px;
}

.cr-profile {
    margin: 20 0 30 0px;
    font-size: 30px;
    text-align: center;
}

label {
    color: #12D3CF;
}

input {
    color: #707070;
    text-align: center;
}

.user-img,
.user1-img,
.gift-img,
.drugs-img,
.fork-img {
    width: 37px;
    position: absolute;
    margin-left: 15px;
    margin-top: -38px;
}

#Inputfirstname,
#Inputlastname,
#Inputage,
#Inputsex {
    width: 150px;
    margin-left: 20px;
    border-radius: 1rem;
    position: relative;
}

#Inputdate,
#Inputdisease,
#Inputallergy {
    width: 355px;
    margin-left: 20px;
    border-radius: 1rem;
}

#Inputimage {
    width: 300px;
    margin: 0 0 30 20px;
}

#btn-cr-profile {
    font-weight: 400;
    margin-left: 33px;
    width: 350px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    background-image: linear-gradient(to right, #12D3CF, #67EACA)
}


/* profile */

.box {
    margin: 0;
    width: 414px;
    height: 330px;
    position: relative;
    background-image: linear-gradient(to bottom, #12D3CF, #67EACA);
}

.back-profile,
.menu {
    margin-top: 20px;
    width: 25px;
    margin-top: -310px;
}

.profile-pic {
    height: 130px;
    background-color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: -250px;
    left: 0;
    right: 0;
}

.username {
    color: white;
    position: absolute;
    margin-top: -110px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.box-wite {
    position: absolute;
    width: 400px;
    height: 405px;
    margin-top: -60px;
    border-radius: 5%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.data-user {
    color: #12D3CF;
    margin-top: 30px;
}

.data-user2 {
    color: #5a5a5a;
    margin-top: 30px;
}

#btn-profile,
#btn-adddrug {
    font-weight: 400;
    margin: auto;
    display: block;
    width: 250px;
    height: 40px;
    margin-top: 40px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    background-image: linear-gradient(to right, #12D3CF, #67EACA)
}


/* Account */

.row-one {
    margin-top: 3%;
}

#user-circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: plum;
}

.home-img {
    width: 30px;
    margin: 15 0 0 355px;
}

.back-menu {
    width: 20px;
    margin-top: 5px;
}

.middle-text {
    margin-top: 25px;
}

.middle-text-h6 {
    margin-top: 27px;
}

.middle-img {
    margin-top: 24px;
}

#hr {
    border: 0.2px solid #707070;
    margin-top: 10px;
}

.img-account {
    width: 30px;
    margin: 22 20 10 20px;
}

h6 {
    font-weight: 400;
}


/* login */

#logo {
    width: 350px;
    position: absolute;
    margin-top: -250px;
    margin-left: 15px;
}

.signin-text {
    text-align: center;
    margin: 20 0 40 0px;
}

#Inputuser,
#Inputpassword {
    width: 280px;
    height: 45px;
    margin-left: 20px;
    border-radius: 2rem;
    color: #707070;
}

.user-login-img,
.password-login-img {
    width: 45px;
    position: absolute;
    margin-left: 15px;
    margin-top: -45px;
}

a {
    text-decoration: none !important;
}

#fg {
    font-weight: 200;
    color: #12D3CF;
    margin-left: 11em;
    margin-top: -12;
}

#fb {
    background-color: #3b5998;
}

#login {
    font-weight: 400;
    margin: auto;
    display: block;
    width: 280px;
    height: 40px;
    margin-top: 30px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    background-image: linear-gradient(to right, #12D3CF, #67EACA)
}

#dh {
    text-align: center;
    color: #707070;
    margin-bottom: -8px;
}

.signup-text {
    text-align: center;
    color: #707070;
}

.signup-color {
    color: #12D3CF;
}

.or {
    width: 300px;
    margin: auto;
    display: block;
}

#facebookLogin {
    background-color: #3b5998;
    margin: auto;
    display: block;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 280px;
    height: 40px;
}

.fb-img {
    width: 37px;
    height: 30px;
    position: absolute;
    margin-left: -100px;
    margin-top: -3px;
}

.facebook {
    margin-left: 40px;
}

button.set {
    width: 100%;
    display: inline-block;
    margin: 2px;
}

.box-wite-login {
    position: absolute;
    width: 400px;
    height: 405px;
    margin-top: -100px;
    border-radius: 5%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}


/* sign-up */

.user-img,
.email-img,
.phone-img,
.password-img {
    width: 37px;
    position: absolute;
    margin-left: 15px;
    margin-top: -38px;
}

#Inputuser-signup,
#Inputemail,
#Inputnumber,
#Inputpassword-signup {
    width: 355px;
    margin-left: 20px;
    border-radius: 1rem;
}

.confirm {
    margin-bottom: 20px;
}

#btn-cr-signup {
    font-weight: 400;
    margin-left: 32px;
    width: 350px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    background-image: linear-gradient(to right, #12D3CF, #67EACA)
}


/* home */

#home-text {
    position: absolute;
    color: white;
    margin-top: -29px;
    margin-left: 160px;
}

#btn-add {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right, #12D3CF, #67EACA);
    color: white;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    margin: 20 30 30 350px;
}

.pluss {
    margin-top: -10px;
}

#drugs {
    width: 360px;
    margin: auto;
    display: block;
    border: 2px solid #12D3CF;
    border-radius: 10px;
}

#name-drug {
    font-size: 20px;
    margin: 0 0 0 10px;
}

.about-drug {
    margin: 0 0 0 40px;
    color: black;
    font-weight: 400;
}

.nav-link {
    color: black;
    margin: 6 0 0 175px;
    width: 20px;
}

.nav-link:hover {
    color: #12D3CF;
}

.dropdown-item {
    font-size: 14px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.switch {
    float: right;
}


/* add-drug */

#add-drug {
    position: absolute;
    color: white;
    margin-top: -29px;
    margin-left: 120px;
}

#inputCategory,
#inputType,
#inputTime {
    color: #707070;
    margin-left: 15px;
    font-size: 14px;
}

#name-add,
#date-add,
#num-add {
    color: #707070;
    font-size: 14px;
}